.heading {
    display: flex;
    align-items: center;
    background-color: #1ce4eb;
    width: 100%;
    justify-content: center;
    height: 11%;
    padding-left: 1em;
}
.Desk-Check {
    display: flex;
    height:100%;
    width: 100%;
    justify-content: left;
    align-items: center;
    font-size: 2em;
    margin-left: 0.5em;
}
.arup-logo{
    padding-left: 1em;
}