.container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.mat-button {
    width: 80%;
    height: 80%;
    line-height: 50px;
    min-height: 50px;
    // vertical-align: center;
    font-size: 50px;
    padding: 0 0;
    margin: 0;
  }