<!-- <div *ngIf="geoJson"> -->
<!-- <mgl-map
    [style]="'mapbox://styles/mapbox/light-v9'"
    [zoom]="[20]"
    [center]="[-0.137912560565711,51.521787293423365]"
>
    <mgl-geojson-source
        id="no8_1"
        data="https://exilliar.github.io/no8_1.json"
    ></mgl-geojson-source> -->
    <!-- <mgl-geojson-source id="symbols-source">
        <mgl-feature
            *ngFor="let geometry of geoJson"
            [geometry]="geometry"
        ></mgl-feature>
    </mgl-geojson-source> -->

    <!-- <mgl-geojson-source
        id="floorplan"
        [data]="geoJson"
        /> -->
<!-- </mgl-map> -->
<!-- </div> -->

<div class="map-container">
    <div id="map"></div>
</div>